<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course one</title>
    <style>
        body {
        background-color:saddlebrown;
        }
    </style>
</head>
<body>
    <h1>Course one</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas voluptatem inventore, quibusdam ea rem corrupti necessitatibus a harum illo sequi minima consectetur fugiat quis atque sed repellendus? Omnis, nulla?</p>
</body>
</html>