{% extends 'crud/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update </title>
</head>
<body>
    {% block content %}
      <div class="row">
        <div class="col-sm-8 offset-2">
            <h4 class="alert alert-info">Update Student Information</h4>
            <form action=""method='POST'novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="submit" class="btn btn-success">
                <a href="{% url 'addshow' %}" class="btn btn-primary" >Home</a>
            </form>
        </div>
      </div>
    {% endblock content %}
</body>
</html>